<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto p-5" style="box-shadow:0px 0px 5px gray;">
                {% if success == "spam" %}
                <div class="alert alert-danger">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% else %}
                <div class="alert alert-success">
                    <strong>Prediction is: </strong> {{success}}
                </div>
                {% endif %}
                
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form myform %}
                    <input type="submit" value="Post" class="btn btn-success">
                </form>
            </div>
            
        </div>
        
    </div>
</body>
</html>